@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "text";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "logo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/adobaonlyR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

textarea {
  width: 300px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(127, 126, 126, 0.24);
  border: 1px solid #cccccc95;
  padding: 15px !important;
  resize: none;
}

input {
  border: none;
  border-radius: 20px;
  height: 45px;
  width: 300px;
  padding: 15px !important;
  box-shadow: 0 1px 1px rgba(127, 126, 126, 0.24);
  border: 1px solid #cccccc95;
}
.radio {
  width: 20px;
  color: #66ffe8;
}

.voteMain {
  object-fit: cover;
  height: 10400px !important;
  width: 47vh !important;
  padding-top: 100px;
  background-image: url("../public/images/about_f.gif");
  background-position: center;
  background-position: center;
  background-repeat: round;
  z-index: 1 !important;
}
.contact {
  width: 135vw !important;
  height: 150vh !important;
}

.main {
  width: 99vw !important;
  height: 74vh !important;
}

.voteContant {
  z-index: 10 !important;
}
.react-toggle-track {
  width: 292px !important;
  height: 40px !important;
  padding: 0;
  border-radius: 30px;
}
.react-toggle-thumb {
  width: 38px !important;
  height: 38px !important;
  border: 0px !important;
  box-shadow: 0 4px 3px rgba(127, 126, 126, 0.24) !important;
}
.react-toggle--checked .react-toggle-track {
  background-color: #c6ebe3 !important;
}
.react-toggle-track {
  background-color: #9af8e2 !important;
}

.alrm {
  width: 300px;
}

.btmSum {
  box-shadow: 0 1px 1px rgba(127, 126, 126, 0.24) !important;
  border: 0px !important;
  background-color: #f4f4f4 !important;
  color: #6ad1b9 !important;
  font-weight: bold !important;
}
.btmSum:hover {
  color: #9a9a9a !important;
  font-weight: bold !important;
  background-color: #9af8e2 !important;
}
.ont {
  margin-top: 4px;
  margin-left: 85px;
}
.OFF {
  margin-top: 4px;
  margin-right: 85px !important;
}
.offt {
  display: grid !important;
  justify-content: end;
  justify-items: stretch;
  justify-self: end !important;
}

.dhtcPe {
  background-color: rgb(247 247 247) !important;
}
.react-toggle--checked .react-toggle-thumb {
  left: 254px !important;
  border-color: #66ffe8 !important;
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #a7fffdb8 !important;
}

.card {
  width: 350px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 40px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f2f2f2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.card-content {
  padding: 20px;
}

.menu-container {
  position: fixed;
  bottom: 3%;
  right: 0;
  left: 0;
  border-radius: 30%;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.circle {
  background: #66ffe891;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
